<h1>{{ 'invites.inviteMailHeadline'|trans }}</h1>

<p>
    {{ 'invites.inviteMailText'|trans }} <br><br>
    <a href="{{ url|raw }}">{{ 'invites.inviteMailLink'|trans }}</a>.
</p>

<p>
    {{ 'invites.inviteMailSalutation'|trans }}
</p>
