{% trans_default_domain 'email' %}
{% extends 'base_email.html.twig' %}

{% block body %}
    <h3>{{ 'passwordResetEmail.hi'|trans({},'email', locale) }}</h3>

    <p>
        {{ 'passwordResetEmail.intro'|trans({},'email', locale) }}
    </p>

    <p>
        <a href="{{ signedUrl|raw }}">{{ 'passwordResetEmail.link'|trans({},'email', locale) }}</a>
    </p>

    <p>
        {{ 'passwordResetEmail.expire'|trans({'time': expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle', locale)},'email', locale) }}
    </p>
{% endblock %}
